
.tab-list {
  display: flex;
  gap: 7px;
}

.tab-button {
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.active-button {
  color: white;
  background-color: blueviolet;
}

.content-panels {
 margin-block: 5px;
}

.tab-panel {
  /* display: none;  */
}

.tab-panel.active-panel {
  /* display: block; */
}
